<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffffff;
}
</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Gallons Requested</th>
      <th>Total Amount Due</th>
      <th>Suggested Price</th>
      <th>Delivery Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>01/23/01</td>
        <td>8</td>
        <td>$24.00</td>
        <td>$3 /gal</td>
        <td>12345 Road, Houston, TX, 77070</td>
      </tr>
    <tr>
      <td>01/01/01</td>
      <td>5</td>
      <td>$15.00</td>
      <td>$3 /gal</td>
      <td>12345 Road, Houston, TX, 77070</td>
    </tr>
  </tbody>
</table>
<a href='/fuelquote'><button>Go to Fuel Quote</button></a>

