<!DOCTYPE html>
<!--
So basically the purpose of this specific html file is to handle input for a given Fuel Quote request.
After the user requests a Quote they will be directed to this page to input gallonsRequested and
deliveryDate. After they click submit, suggestedPrice and totalAmountDue will be calculated using the
pricing module which will not be implemented in assignment 2.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <body>
      <h2> Enter the fuel quote info for [Client Name Here] </h2>
      <!-- Write some code here that will mention the name of the Client-->
        
      <form action="#" th:action="@{/fuelquote}" th:object="${fuelquote}" method="post">
        <p>Your delivery adress is: [Put Client's Delivery Address Here]</p>
        <label>How many gallons of fuel do you request?:</label><br>
        <input type="text" th:field="*{gallonsRequested}" /><br>
        <label>Delivery date:</label><br>
        <input type="date" th:field="*{deliveryDate}"
         min="2021-01-01" max="2022-12-31" /><br>
        <input type="submit" value="submit" />
      </form>
      <a href="/profile"><button>Edit Profile</button></a>
      <a href="/fuelhistory"><button>See History</button></a>
    </body>
    
</html>
