<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form>
        <h>Login</h><br>
        <label for="uname">User name:</label><br>
        <input type="text" maxlength="50" id="uname" name="uname"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
    </form>
        <a href="/fuelquote"><button>Login</button></a>
        <a href="/registration"><button>Register Now</button></a>
</body>
</html>